.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  background-color: #403d39;
  color: #e5e5e5;
}

nav ul li {
  display: inline-block;
  margin-right: 0.5rem;
}
a {
  color: #e5e5e5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #d62828;
}
